<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">
<head>
  <meta charset="UTF-8">
  <title>Title</title>

  <style>

    .index-wrapper{
      display: flex;
      flex-direction: column;
      margin-top: 31px;
    }

    .home-backLog{
      width: 50%;
      align-self: center;
    }

  </style>

</head>

<div class="container-lg content" layout:fragment="content">

  <div class="index-wrapper">

    <div class="home-backLog">
      <h3 style="margin-left: 40px">개선 및 업데이트 방향</h3>
      <ul>
        <li style="list-style-type: none">----------게시판-----------</li>
        <li style="text-decoration: line-through"><b>map API 이용하여 캠핑 장소 모집 및 유저들과 캠핑 장비 리스트 통합</b></li>
        <li style="text-decoration: line-through"><b>게시물리스트 오름차순 내림차순 정렬</b></li>
        <li style="text-decoration: line-through"><b>중고거래 리스트 썸네일 이미지 띄우기</b></li>
        <li>중고 거래 완료 후, 캠핑 장비 수정 삭제 기능 없애기 또는 장비 삭제</li>
        <li style="list-style-type: none"></li>

        <li style="list-style-type: none">----------댓글-----------</li>
        <li style="text-decoration: line-through">댓글 작성자 프로파일 이미지 보이기</li>
        <li><b>대 댓글 기능</b></li>
        <li style="list-style-type: none"></li>

        <li style="list-style-type: none">----------캠핑 장비-----------</li>
        <li style="text-decoration: line-through"><b>캠핑 장비 정렬</b></li>
        <li style="text-decoration: line-through"><b>유저가 등록한 캠핑 장비 검색 기능</b></li>
        <li style="text-decoration: line-through"><b>마이 기어 클릭시 상제 정보 모달창 띄우기</b></li>
        <li style="text-decoration: line-through"><b>중고 거래 작성시 장비 선택해야 작성 가능</b></li>
        <li style="list-style-type: none"></li>

        <li style="list-style-type: none">----------캠핑 참가 게시판-----------</li>
        <li style="text-decoration: line-through"><b>네이버 지도 API</b></li>
        <li style="text-decoration: line-through"><b>회원 참가 버튼 > 참가자 장비 리스트업</b></li>
        <li style="text-decoration: line-through"><b>참가자 장비 리스트 페이징</b></li>
        <li style="text-decoration: line-through"><b>참가자가 원하는 장비 선택해서 리스트업 하기</b></li>

        <li style="list-style-type: none">----------회원-----------</li>
        <li><b>회원 프로파일 이미지 수정</b></li>
        <li>회원 이름 클릭시 회원 정보 보이기</li>
        <li>회원 가입시 아이디 중복 및 패스워드 size 제한</li>
        <li><b>로그인시 아이디 및 패스워드 오타 시 경고 메시지 띄우기</b></li>
        <li><b>쪽지 기능 (중고거래 연락)</b></li>
        <li><b>캠핑 모임 참가 리스트 캘리더에 띄우기</b></li>
        <li style="list-style-type: none"></li>

        <li style="list-style-type: none">----------보안-----------</li>
        <li><b>JWT 적용</b></li>
        <li><b style="text-decoration: line-through">SSL 인증 (로드 밸런서 생성)</b></li>
        <li><b style="text-decoration: line-through">valid 검증</b></li>
        <li style="list-style-type: none"></li>

        <li style="list-style-type: none">----------css-----------</li>
        <li>첨부파일 업로드 로딩 표현</li>
        <li>css link 처리</li>
        <li style="list-style-type: none"></li>

        <li style="list-style-type: none">----------중고거래-----------</li>
        <li style="text-decoration: line-through"><b>중고거래 등록된 캠핑 장비 수정 불가 처리</b></li>
        <li style="list-style-type: none"></li>

        <li style="list-style-type: none">----------기타-----------</li>
        <li><b>모바일 버전 반응형</b></li>
        <li><b>CI/CD</b></li>
        <li style="text-decoration: line-through">bootstrap5 업그레이드</li>
        <li><b>잘못 업로드된 파일 삭제 [Quartz]</b></li>
      </ul>
    </div><!--/ home-backLog  /-->

    <div class="home-backLog">
      <h3 style="margin-left: 40px">버그 및 오류</h3>
      <ul>
        <li style="text-decoration: line-through"><b>내가 작성한 게시글 등록일(데이트가 array로 가져옴)</b></li>
        <li style="text-decoration: line-through"><b>중고거래 작성시 장비를 등록해야만 게시글 작성이 가능하게 구현하기</b></li>
        <li <b>캠핑 모임 게시글 수정시 약속 날짜 기본 벨류값을 데이터 값으로 로드하게 하기</b></li>
      </ul>
    </div><!--/ home-backLog  /-->

  </div> <!--/ index-wrapper  /-->

</div> <!--/ container content  /-->



</html>