<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

  <style>
    form{
      display: flex;
      flex-direction: column;
    }
  </style>

<body>
<th:block th:replace="~{/layout/basic :: setContent(~{this :: content})}">
    <th:blocK th:fragment="content">

      <div class="container">
        <form th:action="@{/board/modify}" method="post">

          <input type="hidden" name="page" th:value="${pageRequestDTO.page}">
          <input type="hidden" name="type" th:value="${pageRequestDTO.type}">
          <input type="hidden" name="keyword" th:value="${pageRequestDTO.keyword}">
          <th:block th:if="${pageRequestDTO.category != ''}">
            <input type="hidden" name="category" th:value="${pageRequestDTO.category}">
          </th:block>
          <th:block th:unless="${pageRequestDTO.category != ''}">
          </th:block>
          <input type="hidden" name="email" th:value="${dto.email}">
          <input type="hidden" name="bno" th:value="${dto.bno}">

          <div class="col-md-12 col-sm-12">
            <input name="title" type="text" class="form-control" th:value="${dto.title}" required>
          </div>
          <textarea id="summernote" name="content" th:utext="${dto.content}"></textarea>
          <script th:inline="javascript">
            $(document).ready(function() {

              var bno = [[${dto.bno}]];
              console.log("bno: " + bno);
              var targetImageList = [];

              $('#summernote').summernote({
                height: 600,
                callbacks:{
                  onImageUpload: function (files, editor, welEditable){
                    for (var i = files.length -1; i >= 0; i--){
                      console.info(files[i]);
                      uploadImageFiles(files[i], this);
                    } //for
                  }, // onImageUpload
                  onMediaDelete: function (target){

                    var fileName = target.attr('src');

                    fileName = fileName.substring(fileName.lastIndexOf("/") +1);

                    console.log("fileName: " + fileName);

                    targetImageList.forEach(function (i){

                      var targetName = i;
                      console.log("targetImage_fromList: " + targetName);

                      if (i == fileName){

                        var targetLI = $("li[name='"+fileName+"']");

                        targetLI.remove();

                        $.ajax({
                          url: '/deleteFile',
                          data: {files: fileName},
                          dataType: 'text',
                          type: 'POST',
                          success: function (result){
                          }
                        }); // ajax

                      } // first
                     }); // targetImageList forEach
                  } // onMediaDelete
                } // callbacks
              }); // summernote

              function uploadImageFiles(files, el){

                var formData = new FormData();

                formData.append("uploadFiles", files);

                $.ajax({
                  url: '/uploadAjax',
                  data: formData,
                  dataType: 'json',
                  contentType: false,
                  processData: false,
                  type: 'POST',
                  success:function (result){
                    console.info(result);
                    uploadResultUL(result);
                  },
                  error: function (jqXHR, textStatus, errorThrown){
                    console.info(textStatus);
                  }
                }); // ajax
              } // function uploadImageFiles

              function uploadResultUL(result){

                var uploadResultUL = $(".uploadResultUL ul");
                var str = "";

                $(result).each(function (i, dto){

                  str += '<li data-path="'+dto.folderPath+'" ' +
                          'data-uuid="'+dto.uuid+'" ' +
                          'data-name="'+dto.fileName+'" ' +
                          'name="display?files='+dto.imageURL+'" data-tell="newOnw"></li>';

                  var imageURL = dto.imageURL;

                  console.log("imageURL: " + imageURL);

                  $('#summernote').summernote('insertImage', '/display?files='+dto.imageURL);

                  targetImageList.push("display?files="+dto.imageURL);
                  // targetImageMap.set(newOne, "display?files="+dto.imageURL);

                }); // result each

                uploadResultUL.append(str);

              }; // function uploadResultUL

              $.getJSON('/board/images/' + bno, function (images){

                var uploadResultUL = $(".uploadResultUL ul");
                var str = "";

                $(images).each(function (i,dto){

                  str += '<li data-path="'+dto.folderPath+'" ' +
                          'data-uuid="'+dto.uuid+'" ' +
                          'data-name="'+dto.fileName+'" ' +
                          'name="display?files='+dto.imageURL+'" data-tell="oldOne"></li>';

                  console.log("imageURL: " + dto.imageURL);

                  targetImageList.push("display?files="+dto.imageURL);

                }); // array

                uploadResultUL.append(str);

              }); // get imageList event


            }); // the end

          </script>

          <div class="hiddenBox">

          </div>
          <div class="col-md-12 col-sm-12">
            <button class="registBtn">수정</button>
            <button class="listBackBtn">리스트</button>
          </div>
        </form>

      </div> <!-- container -->

      <div class="uploadResultUL">
        <ul>

        </ul>
      </div>

      <script th:inline="javascript">

        $(document).ready(function (){

          $(".registBtn").on("click", function (e){

            e.preventDefault();

            var str = "";

            $(".uploadResultUL li").each(function (i, dto){

              var target = $(dto);

              str += '<input type="hidden" name="boardImageDTOList['+i+'].folderPath" value="'+target.data("path")+'">';
              str += '<input type="hidden" name="boardImageDTOList['+i+'].uuid" value="'+target.data("uuid")+'">';
              str += '<input type="hidden" name="boardImageDTOList['+i+'].fileName" value="'+target.data("name")+'">';

            });

            $(".hiddenBox").html(str);
            $("form").submit();

          }); // register event

          $(".listBackBtn").on("click", function (){

            var page = $("input[name='page']");
            var type = $("input[name='type']");
            var keyword = $("input[name='keyword']");
            var category = $("input[name='category']");

            var actionForm = $("form");

            actionForm.empty();
            actionForm.append(page);
            actionForm.append(type);
            actionForm.append(keyword);
            actionForm.append(category);

            actionForm.attr("action", "/board/list").attr("method", "get").submit();


          });


        }); // the end


      </script>


    </th:blocK>
</th:block>
</body>
</html>