<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

  <style>
    form{
      display: flex;
      flex-direction: column;
    }

    .modify-title{
      margin: 10px 0px 14px 0px;
      padding: 0px;
    }

    .uploadResultUL{
      display: none;
    }

    .modify-btn-box{
      display: flex;
      flex-direction: row;
      justify-content: center;
    }

    .modify-btn-box button{
      margin: 0px 3px;
    }

    .titleAndSearchBox{
      display: flex;
      flex-direction: row;
      margin: 10px 0px 14px 0px;
      padding: 0px;
    }

    .inputTitle{
      margin-right: 10px;
      flex: 70%;
    }

    .categorySelector{
      flex: 20%;
    }
  </style>

<body>
<th:block th:replace="~{/layout/basic :: setContent(~{this :: content})}">
    <th:blocK th:fragment="content">

    <form th:action="@{/board/modify}" method="post">

      <input type="hidden" name="page" th:value="${pageRequestDTO.page}">
      <input type="hidden" name="type" th:value="${pageRequestDTO.type}">
      <input type="hidden" name="keyword" th:value="${pageRequestDTO.keyword}">
<!--      <th:block th:if="${pageRequestDTO.category != ''}">-->
<!--        <input type="hidden" name="category" th:value="${pageRequestDTO.category}">-->
<!--      </th:block>-->
      <th:block th:unless="${pageRequestDTO.category != ''}">
      </th:block>
      <input type="hidden" name="email" th:value="${dto.email}">
      <input type="hidden" name="bno" th:value="${dto.bno}">

<!--      <div class="modify-title">-->
<!--        <input name="title" type="text" class="form-control" th:value="${dto.title}" required>-->
<!--      </div>-->

      <div class="titleAndSearchBox">
        <input name="title" type="text" class="form-control inputTitle" th:value="${dto.title}" required placeholder="TITLE">
        <input th:if="${pageRequestDTO.category == 'secondHands'}" class="form-control categorySelector" type="text" name="category" value="secondHands" readonly>
        <select th:unless="${pageRequestDTO.category == 'secondHands'}" class="form-control categorySelector" aria-label="Default select example" name="category">
          <option th:selected="${pageRequestDTO.category == 'talk'}" value="talk">잡담</option>
          <option th:selected="${pageRequestDTO.category == 'party'}" value="party">모임</option>
          <option th:selected="${pageRequestDTO.category == 'place'}" value="place">캠핑장</option>
          <!--                <option th:selected="${tellCategory == 'secondHands'}" value="secondHands">중고거래</option>-->
        </select>
      </div>


      <textarea id="summernote" name="content" th:utext="${dto.content}"></textarea>
      <script th:inline="javascript">
        $(document).ready(function() {

          var bno = [[${dto.bno}]];
          console.log("bno: " + bno);

          var targetImageList = [];

          $('#summernote').summernote({
            height: 600,
            callbacks:{
              onImageUpload: function (files, editor, welEditable){
                for (var i = files.length -1; i >= 0; i--){
                  console.info(files[i]);
                  uploadImageFiles(files[i], this);
                } //for
              }, // onImageUpload
              onMediaDelete: function (target){

                var fileName = target.attr('src');

                fileName = fileName.substring(fileName.lastIndexOf("/") +1);

                var targetS3 = target.attr('src');

                console.log("fileName: " + fileName);
                console.log("targetS3: " + targetS3);

                // targetImageList.forEach(function (i){
                 $(".uploadResultUL li").each(function (i, dto){

                   var s3URL = $(this).data('s3url');
                   var telling = $(this).data('tell');

                   console.log(s3URL);
                   console.log(telling);

                  // var targetName = i;
                  // console.log("targetImage_fromList: " + targetName);

                  if (s3URL == targetS3){

                    var targetLI = $("li[name='"+fileName+"']");

                    if (telling == 'newOne'){

                      console.log("remove for newOne");

                      targetLI.remove();

                      $.ajax({
                        url: '/removeS3',
                        data: {files: fileName},
                        dataType: 'text',
                        type: 'delete',
                        success: function (result){
                        }
                      }); // ajax

                    }else {
                      console.log("remove for oldOne");
                      targetLI.remove();
                    }

                  } // if
                 }); // targetImageList forEach

              } // onMediaDelete

            } // callbacks
          }); // summernote

          function uploadImageFiles(files, el){

            var formData = new FormData();

            formData.append("uploadFiles", files);

            $.ajax({
              url: '/uploadAjax',
              data: formData,
              dataType: 'json',
              contentType: false,
              processData: false,
              type: 'POST',
              success:function (result){
                console.info(result);
                uploadResultUL(result);
              },
              error: function (jqXHR, textStatus, errorThrown){
                console.info(textStatus);
              }
            }); // ajax
          } // function uploadImageFiles

          function uploadResultUL(result){

            var uploadResultUL = $(".uploadResultUL ul");
            var str = "";

            $(result).each(function (i, dto){

              str += '<li data-path="'+dto.folderPath+'" ' +
                      'data-uuid="'+dto.uuid+'" ' +
                      'data-name="'+dto.fileName+'" ' +
                      'name="'+dto.uuid+'_'+dto.fileName+'" data-s3Url="'+dto.s3Url+'" data-tell="newOne"></li>';
                      // 'name="display?files='+dto.imageURL+'" data-tell="newOne"></li>';

              // var imageURL = dto.imageURL;
              //
              // console.log("imageURL: " + imageURL);

              $('#summernote').summernote('insertImage', dto.s3Url);

              var s3Url = dto.s3Url;
              console.log(s3Url)

              targetImageList.push(s3Url);

            }); // result each

            uploadResultUL.append(str);

          }; // function uploadResultUL

          $.getJSON('/board/images/' + bno, function (images){

            var uploadResultUL = $(".uploadResultUL ul");
            var str = "";

            $(images).each(function (i,dto){

              str += '<li data-path="'+dto.folderPath+'" ' +
                      'data-uuid="'+dto.uuid+'" ' +
                      'data-name="'+dto.fileName+'" ' +
                      'name="'+dto.uuid+'_'+dto.fileName+'" data-s3Url="'+dto.s3Url+'" data-tell="oldOne"></li>';
                      // 'name="display?files='+dto.imageURL+'" data-tell="oldOne"></li>';

              console.log("imageURL: " + dto.imageURL);

              targetImageList.push(dto.s3Url);

            }); // array

            uploadResultUL.append(str);

          }); // get imageList event


        }); // the end

      </script>

      <div class="hiddenBox">

      </div>
      <div class="modify-btn-box">
        <button class="btn btn-outline-primary registBtn">수정</button>
        <button class="btn btn-outline-success listBackBtn">리스트</button>
      </div>
    </form>

      <div class="uploadResultUL">
        <ul>

        </ul>
      </div>

      <script th:inline="javascript">

        $(document).ready(function (){

          $(".registBtn").on("click", function (e){

            e.preventDefault();

            var str = "";

            $(".uploadResultUL li").each(function (i, dto){

              var target = $(dto);

              str += '<input type="hidden" name="boardImageDTOList['+i+'].folderPath" value="'+target.data("path")+'">';
              str += '<input type="hidden" name="boardImageDTOList['+i+'].uuid" value="'+target.data("uuid")+'">';
              str += '<input type="hidden" name="boardImageDTOList['+i+'].fileName" value="'+target.data("name")+'">';
              str += '<input type="hidden" name="boardImageDTOList['+i+'].s3Url" value="'+target.data("s3url")+'">';

            });

            $(".hiddenBox").html(str);
            $("form").submit();

          }); // register event

          $(".listBackBtn").on("click", function (){

            var page = $("input[name='page']");
            var type = $("input[name='type']");
            var keyword = $("input[name='keyword']");
            var category = $("input[name='category']");

            var actionForm = $("form");

            actionForm.empty();
            actionForm.append(page);
            actionForm.append(type);
            actionForm.append(keyword);
            actionForm.append(category);

            actionForm.attr("action", "/board/list").attr("method", "get").submit();


          });


        }); // the end


      </script>


    </th:blocK>
</th:block>
</body>
</html>