<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

    <style>
        .reply-box{
            border: 1px solid black;
            margin-bottom: 20px;
        }

        .box{
            border: 1px solid black;
        }

        .replyModifyingForm{
            display: none;
        }

    </style>
<body>

<th:block th:replace="~{/layout/basic :: setContent(~{this :: content})}">
  <th:block th:fragment="content">

      <div class="container">
          <div>
              <label>제목</label>
              <input type="text" class="form-control" th:value="${dto.title}">
          </div>

          <div>
              <label>이름: </label><a><span>[[${dto.memberName}]]</span></a>
              <div th:if="${dto.regDate == dto.modDate}">
                  <label>등록일: </label>[[${#temporals.format(dto.regDate, 'yyyy/MM/dd')}]]
              </div>
              <div th:unless="${dto.regDate == dto.modDate}">
                  <label>수정일: </label>[[${#temporals.format(dto.modDate, 'yyyy/MM/dd')}]]
              </div>

              <label>댓글 수</label><div>[[${dto.replyCount}]]</div>
          </div>

          <div>
              <div th:utext="${dto.content}"></div>
          </div>
          <form id="remove-form" th:action="@{/board/remove}" method="post">
              <input type="hidden" name="bno" th:value="${dto.bno}">
          </form>

          <div>
              <a th:href="@{/board/list(page=${pageRequestDTO.page} , type=${pageRequestDTO.type}, keyword=${pageRequestDTO.keyword} )}">
              <button>리스트</button>
              </a>
              <a th:href="@{/board/modify(bno=${dto.bno}, page=${pageRequestDTO.page}, type=${pageRequestDTO.type}, keyword=${pageRequestDTO.keyword})}">
                  <button class="modifyBtn">수정</button>
              </a>
              <button class="removeBtn">삭제</button>
          </div>

          <div>
              <form th:action="@{/replies/}">
                  <input type="hidden" name="bno" th:value="${dto.bno}">
                  <input type="text" name="text" class="form-control" placeholder="REPLY" id="reply-input">
                  <input type="text" name="email" class="form-control" placeholder="EMAIL">
                  <button type="submit" class="insertReplyBtn" >작성</button>
              </form>
          </div>

<!--          <div>-->
<!--              <dvi>댓글을 작성하려면 <a th:href="@{/login}">로그인</a>이 필요합니다.</dvi>-->
<!--          </div>-->

          <div class="container replyContainer">

          </div>
      </div>




      <script th:inline="javascript">

          $(document).ready(function (){

              var bno = [[${dto.bno}]];

              function formatTime(str){

                  var data = new Date(str);

                  return data.getFullYear() + "/" +
                      (data.getMonth() +1) + "/" +
                      data.getDate() + ":" +
                      data.getHours() + ":" +
                      data.getMinutes();

              }  // formatTime


              $(".removeBtn").on("click", function (){

                  if (!confirm("삭제 하시겠습니까?")){
                      console.info("confirmed");
                      return;
                  } // if

                  $("#remove-form").submit();

              }); // removeBtn

              loadReplyList();

              $(".insertReplyBtn").on("click", function (e){

                  e.preventDefault();

                  var replyText = $("#reply-input").val();
                  var replyWriter = $("input[name='email']").val();

                  var reply = {
                      bno: bno,
                      text: replyText,
                      email: replyWriter
                  }

                  console.info(reply);

                  $.ajax({
                      url:'/replies/',
                      method: 'POST',
                      data: JSON.stringify(reply),
                      contentType: 'application/json; charset=utf-8',
                      dataType: 'json',
                      success: function (result){

                          if (result == "success"){
                              console.info(result+ "번 댓글 작성 성공");

                          }
                          loadReplyList();
                          $("input[name='text']").val("");
                          $("input[name='email']").val("");
                      }

                  }); // ajax

              }); // insertReplyBtn event

              var repliesContainer = $(".replyContainer");

              function loadReplyList(){

                  $.getJSON('/replies/board/' + bno, function (arr){


                      var str = "";

                      $.each(arr, function (idx, dto){

                          str += ' <div class="reply-box" data-rno="'+dto.rno+'"><b>'+dto.rno+'</b>';
                          str += ' <h5 class="reply-title">text: '+dto.text+'</h5>';
                          str += ' <h6 class="reply-writer">writer: '+dto.memberName+'</h6>';
                          str += ' <p class="reply-regDate">등록일: '+formatTime(dto.regDate)+'</p>';
                          str += '<div class="reply-modify-div">' +
                              '<button type="button" class="reply-modify-btn" data-email="'+dto.email+'">수정</button>' +
                              '<button type="button" class="replyDeleteBtn" data-rno="'+dto.rno+'" data-email="'+dto.email+'">삭제</button></div>';
                          str += '<div class="replyModifyingForm">' +
                              '<input type="text" name="text" value="'+dto.text+'" class="replyModifyTextInput">' +
                              '<div>' +
                              '<button type="button" class="doReplyModifying" data-rno="'+dto.rno+'" data-email="'+dto.email+'">수정</button>' +
                              '<button type="button" class="cancelReplyModifying">취소</button></div></div>';
                          str += ' </div>';


                      }); // each

                      repliesContainer.html(str);

                  }); // getJSON /replies/board

              } // loadReplyList

              $(".replyContainer").on("click", ".replyDeleteBtn", function (){

                 var rno = $(this).data("rno");
                 console.info("rno: " + rno);

                 var writerEmail = $(this).data("email");
                 console.info(writerEmail);

                 $.ajax({
                     url: '/replies/' + rno,
                     method: 'DELETE',
                     success: function (result){
                         if (result === "success"){
                             console.info(rno + "번 댓글이 삭제되었습니다.");
                             loadReplyList();
                         }
                     }
                 }); // ajax

              }); // reply delete event


              $(".replyContainer").on("click", ".reply-modify-btn", function (){

                  var writerEmail = $(this).data("email");
                  console.info("writerEmail: " + writerEmail);

                  // if(principalEmail == writerEmail){

                      console.info("equals");

                      $(this).closest('.reply-box').find('.replyModifyingForm').css("display", "block");
                      $(this).closest('.reply-box').find('.reply-modify-div').css("display", "none");

                      $(".doReplyModifying").on('click', function (){

                          var rno = $(this).data("rno");
                          var email = $(this).data("email");
                          var replyModifyInput = $(this).closest('.reply-box').find('.replyModifyTextInput').val();
                          console.info("replyModifyInput: " + replyModifyInput);

                          console.info("rno: " + rno);
                          console.info("email: " + email);

                          var reply = {
                              rno: rno,
                              bno: bno,
                              text: replyModifyInput,
                              email: email
                          }

                          console.info(reply);

                          $.ajax({
                              url: '/replies/' + rno,
                              method: 'PUT',
                              data: JSON.stringify(reply),
                              contentType: 'application/json; charset=utf-8',
                              success: function (result){
                                  if(result === "success"){
                                      console.info(rno + "번 댓글 수정완료");
                                  }
                                  loadReplyList();
                              }
                          }) // ajax

                      }) // doReplyModifying event
                  // }else {
                  //     alert("작성자만 수정 가능합니다.");
                  //     return;
                  // }

              }); // reply modifying event




              $(".replyContainer").on("click", ".cancelReplyModifying", function (){

                  $(".replyModifyingForm").css("display", "none");
                  $(".reply-modify-div").css("display", "block");


              });  // reply canceling modify event


          }); // the end

      </script>

  </th:block>
</th:block>

</body>
</html>