<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout/basic.html}">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<style>
    ul{
        list-style-type: none;
    }
    .secondMarket-body{
        display: flex;
    }

    .second-market-leftSide{
        flex: 50%;
    }

    .second-market-rightSide{
        flex: 50%;
    }

    .gear-list{
        flex: 50%;
    }

    .my-gear-li{
        display: flex;
        flex-direction: row;
        margin-bottom: 10px;
    }

    .loadGear-img-box{
        flex: 20%;
    }

    .gear-info{
        flex: 60%;
    }

    .gear-btn-box{
        flex: 10%;
    }
</style>

<body>

<th:block th:replace="~{/layout/basic :: setContent(~{this :: content})}">
  <th:block th:fragment="content">

      <dic class="container secondMarket-body">

          <div class="second-market-leftSide">
              <div class="gear-list">
                  <ul class="gear-list-ul">

                  </ul>
              </div>
          </div>

          <div class="second-market-rightSide">
              <form th:action="@{/board/register}" method="post">
                  <input th:if="${category == '중고거래'}" class="form-control" type="text" name="category" value="중고거래" readonly>

                  <div class="form-group">
                      <input type="text" name="title" placeholder="TITLE" class="form-control">
                      <textarea name="content" placeholder="CONTENT" class="form-control"></textarea>
                      <input name="email" type="text" class="form-control" placeholder="EMAIL" th:value="${#authentication.principal.username}" readonly>
                  </div>
                  <div class="col-md-12 col-sm-12">
                      <button class="btn btn-primary">register</button>
                  </div>
              </form>
          </div>

      </dic>

<script th:inline="javascript">

    $(document).ready(function (){

        loadGearData();

        var username = [[${#authentication.principal.username}]];



        function loadGearData(){

            var email = [[${pricipalName}]];

            console.info(email);

            $.getJSON('/gear/' + email, function (arr){

                var gearList = $(".gear-list-ul");
                var str = "";

                console.info(arr);

                $.each(arr, function (i, dto){

                    str += '<li class="my-gear-li">';
                    if (dto.gearImageDTOList[0] !== null){
                        str += '<div class="loadGear-img-box">';
                        str += "<img src='/display?files="+dto.gearImageDTOList[0]?.thumbnailURL+"'>";
                        str += '</div>';
                    }else {
                        str += '<div class="loadGear-img-box">';
                        str += "<img src='/icon/noImage2.svg' style='height: 100%'>";
                        str += '</div>';
                    }
                    str += '<div class="gear-info">';
                    str += '<div class="gear-info">';
                    str += '<span>이름: '+dto.gname+'</span><span>브랜드: '+dto.brand+'</span><span>사이즈: '+dto.size+'</span><span>소재: '+dto.material+'</span>';
                    str += '</div>';
                    str += '<span>설명: '+dto.script+'</span><span>카테고리: '+dto.sort+'</span>';
                    str += '</div>';

                    str += '<div class="gear-btn-box">';
                    str += '<button type="button" class="gear-modify-btn" data-gno="'+dto.gno+'">수정</button>';
                    str += '<button type="button" class="gear-remove-btn" data-gno="'+dto.gno+'" data-email="'+dto.email+'" >삭제</button>';
                    str += '</div>';

                    str += '</li>';

                }) // each

                gearList.html(str);

            }); // getJson

        } // loadGearData

    });




</script>
  </th:block>
</th:block>
</body>
</html>