<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block th:replace="~{/layout/basic :: setContent(~{this :: content})}">
  <th:block th:fragment="content">

  <h1>member modify page</h1>

  <form th:action="@{/member/modify}" method="post">
      <input type="text" name="name" class="form-control" placeholder="NAME">
      <input type="password" name="password" class="form-control" placeholder="PASSWORD">
      <input type="hidden" name="email" th:value="${#authentication.principal.username}">
      <button type="submit">수정</button>
  </form>

<script th:inline="javascript">



</script>
  </th:block>
</th:block>
</body>
</html>