<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css">
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

<style>

    .form-control{
        margin-bottom: 13px;
    }

    ul{
        list-style-type: none;

    }
    .uploadUL{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .uploadUL li{
        margin-right: 10px;
    }

    .modal-gear-img-ul{
        display: flex;
        flex-wrap: wrap;
    }

    .modal-gear-img-ul li{
        margin-right: 10px;
        margin-bottom: 10px;
    }
    .register-main-body{
        display: flex;
    }

    .form-group{
        /*flex: 50%;*/
    }

    .gear-list{
        /*flex: 50%;*/
    }

    .my-gear-li{
        /*display: flex;*/
        /*flex-direction: row;*/
        /*margin-bottom: 10px;*/
        /*border: 1px solid black;*/
        height: 290px;

    }

    .loadGear-img-box{
        /*flex: 20%;*/
        display: flex;
        width: 100%;
        justify-content: space-between;
        height: 100px;
    }

    .gear-info{
        /*flex: 60%;*/
        display: flex;
        flex-direction: column;
    }

    .gear-btn-box{
        /*flex: 10%;*/
        display: flex;
        flex-direction: column;
        height: 100px;
        row-gap: 6px;
        margin-top: 5px;
    }

    .loadGear-img-box img{
        /*border: 1px solid;*/
        width: 50%;
    }

    .gear-btn-box button{
        background-color: white;
        border: 1px solid;
        border-radius: 5px;
    }

</style>
<body>
<th:block th:replace="~{/layout/basic :: setContent(~{this :: content} )}">
    <th:block th:fragment="content">

        <div class="container">

<!--            <h1>My Gear Page</h1>-->
<!--            <h6>[[${#authentication.principal.username}]]</h6>-->

<!--            <div class="register-main-body">-->
<!--                -->
<!--            </div>-->
            <div class="readyForRegisterBtn">
                <button type="button" class="btn btn-outline-secondary">등록하기</button>
            </div>
            <div class="gear-list">
                <ul class="gear-list-ul">

                </ul>
            </div>

            <div data-aos="fade-up"
                 data-aos-duration="3000" class="gear-data-boxes">
            </div>
            <script>
                AOS.init(); // 자바스크립트로 init()을 해야 동작한다.
            </script>

        </div> <!--container -->

        <div class="modal gear-register-modal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">MY GEAR MODIFYING</h5>
                    </div>
                    <div class="modal-body">
                        <form class="form-group" th:action="@{/gear/}" method="post">
                            <input type="text" name="gname" placeholder="NAME" class="form-control">
                            <input type="text" name="brand" PLACEHOLDER="BRAND" class="form-control">
                            <input type="text" name="size" placeholder="SIZE" class="form-control">
                            <input type="text" name="material" placeholder="MATERIAL" class="form-control">
                            <input type="text" name="script" placeholder="SCRIPT" class="form-control">
                            <input type="text" name="sort" class="form-control" placeholder="SORT">
                            <input type="hidden" name="email" placeholder="EMAIL" class="form-control" th:value="${#authentication.principal.username}">
                            <input type="file" name="uploadFiles" multiple class="form-control">
                            <div class="hidden-box">

                            </div>
                            <div class="uploadResultDVI">
                                <ul class="uploadUL">

                                </ul>
                            </div>
                        </form>

                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary gear-modal-close" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary gear-submit-btn">Save</button>
                    </div>
                </div>
            </div>
        </div>


        <div class="modal gear-modal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">MY GEAR MODIFYING</h5>
                    </div>
                    <div class="modal-body">
                        <input id="gear-modal-name" type="text" name="gname" class="form-control" placeholder="NAME">
                        <input id="gear-modal-brand" type="text" name="brand" class="form-control" placeholder="BRAND">
                        <input id="gear-modal-size" type="text" name="size" class="form-control" placeholder="SIZE">
                        <input id="gear-modal-material" type="text" name="material" class="form-control" placeholder="MATERIAL">
                        <input id="gear-modal-script" type="text" name="script" class="form-control" placeholder="SCRIPT">
                        <input id="gear-modal-sort" type="text" name="sort" class="form-control" placeholder="SORT">
                        <input id="gear-modal-gno" type="hidden" name="gno" >
                        <input type="file" name="modalFiles" multiple class="form-control">
                    </div>
                    <div class="modal-body">
                        <div class="modal-thumbnail-box">
                            <ul>

                            </ul>
                        </div>
                        <div class="modal-gear-img">
                            <ul class="modal-gear-img-ul">

                            </ul>
                        </div>
                        <div class="modal-gear-data">
                            <ul>

                            </ul>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary gear-modal-close" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary gear-modal-modify">Save</button>
                    </div>
                </div>
            </div>
        </div>

        <script th:inline="javascript">

            $(document).ready(function (){

                var email = [[${#authentication.principal.username}]];
                console.info(email);

                $(".readyForRegisterBtn").click(function (){
                    $(".gear-register-modal").modal('show');
                })

                loadGearData();

                $("input[name='uploadFiles']").on("change", function (){
                    console.info("changed....");

                    var inputFile = $(this);
                    var formData = new FormData();
                    var files = inputFile[0].files;

                    for (var i = 0; i < files.length; i++){
                        formData.append("uploadFiles", files[i]);
                    }

                    for (var value of formData.values()){
                        console.info(value);
                    }

                    $.ajax({
                        url: '/uploadAjax',
                        data: formData,
                        type: 'POST',
                        contentType: false,
                        processData: false,
                        dataType: 'JSON',
                        success: function (result){
                            console.info(result);
                            showUploadImage(result);

                        }
                    }); // ajax

                }); // register

                function showUploadImage(arr){

                    var resultUL = $(".uploadResultDVI ul");

                    var str = "";

                    $(arr).each(function (i, dto){

                        str += '<li data-path="'+dto.folderPath+'" data-uuid="'+dto.uuid+'" data-name="'+dto.fileName+'">';
                        str += '<div class="img-thumbnail" data-file="'+dto.imageURL+'">';
                        str += '<img src="/display?files='+dto.thumbnailURL+'">';
                        str += '</div>';
                        str += '</li>';

                    });

                    resultUL.append(str);

                } // showUploadImage

                $(".uploadUL").on("click", ".img-thumbnail", function (e){

                    var file = $(this).data("file");
                    console.info(file);
                    var targetLI = $(this).closest("li");

                    $.ajax({
                        url: '/removeFile',
                        data: { files: file},
                        type: 'DELETE',
                        dataType: 'text',
                        success: function (result){
                            console.info(result);
                            targetLI.remove();
                        }
                    })


                }); // uploadUl clicking

                $(".gear-submit-btn").on("click", function (e){

                    e.preventDefault();

                    var imageList = []

                    $(".uploadUL li").each(function (i, arr){

                        var target = $(arr);

                        var gearImageDTOList = {
                            folderPath: target.data("path"),
                            uuid: target.data("uuid"),
                            fileName: target.data("name")
                        }
                        console.info(gearImageDTOList)
                        imageList.push(gearImageDTOList);

                    }); // uploadUL li

                    console.info(imageList);

                    var gearData  = {
                        gname : $("input[name='gname']").val(),
                        brand : $("input[name='brand']").val(),
                        size : $("input[name='size']").val(),
                        material: $("input[name='material']").val(),
                        script: $("input[name='script']").val(),
                        sort: $("input[name='sort']").val(),
                        email: $("input[name='email']").val(),
                        gearImageDTOList : imageList
                    }

                    console.info(gearData);

                    $.ajax({
                        url: '/gear/',
                        data: JSON.stringify(gearData),
                        type: 'POST',
                        contentType: 'application/json; charset=utf-8',
                        dataType: 'json',
                        success: function (result){
                            var replyNo = parseInt(result);
                            alert(replyNo + "번 기어가 저장됐습니다.");
                            loadGearData();
                            self.location.reload();
                        }

                    }); // ajax

                }); // gear-image-submit-btn

                function loadGearData(){

                    $.getJSON('/gear/' + email, function (arr){

                        var gearList = $(".gear-data-boxes");
                        var str = "";

                        console.info(arr);

                        $.each(arr, function (i, dto){

                            str += '<div class="col-md-2 my-gear-li">';
                            if (dto.gearImageDTOList[0] !== null){
                                str += '<div class="loadGear-img-box">';
                                str += "<img src='/display?files="+dto.gearImageDTOList[0]?.thumbnailURL+"'>";
                                str += '<div class="gear-btn-box">';
                                str += '<button type="button" class="gear-modify-btn" data-gno="'+dto.gno+'">수정</button>';
                                str += '<button type="button" class="gear-remove-btn" data-gno="'+dto.gno+'" data-email="'+dto.email+'" >삭제</button>';
                                str += '<button type="button" class="gear-market-btn" data-gno="'+dto.gno+'" data-email="'+dto.email+'" >중고</button>';
                                str += '</div>';
                                str += '</div>';
                            }else {
                                str += '<div class="loadGear-img-box">';
                                str += "<img src='/icon/img3.svg' style='height: 100%'>";
                                str += '<div class="gear-btn-box">';
                                str += '<button type="button" class="btn-outline-primary gear-modify-btn" data-gno="'+dto.gno+'">수정</button>';
                                str += '<button type="button" class="btn-outline-danger gear-remove-btn" data-gno="'+dto.gno+'" data-email="'+dto.email+'" >삭제</button>';
                                str += '<button type="button" class="btn-outline-info gear-market-btn" data-gno="'+dto.gno+'" data-email="'+dto.email+'" >중고</button>';
                                str += '</div>';
                                str += '</div>';
                            }

                            str += '<div class="gear-info">';
                            str += '<div class="gear-info">';
                            str += '<span>이름: '+dto.gname+'</span><span>브랜드: '+dto.brand+'</span><span>사이즈: '+dto.size+'</span><span>소재: '+dto.material+'</span>';
                            str += '</div>';
                            str += '<span>설명: '+dto.script+'</span><span>카테고리: '+dto.sort+'</span>';
                            str += '</div>';

                            str += '</div>';

                        }) // each

                        gearList.html(str);

                    }); // getJson

                } // loadGearData

                $(".gear-data-boxes").on("click", ".gear-remove-btn", function (e){

                    e.preventDefault();

                    if (confirm("삭제하시겠습니까?")){
                        var gno = $(this).data("gno");
                        console.info(gno);

                        $.ajax({
                            url: '/gear/' + gno,
                            method: "DELETE",
                            success: function (result){
                                if (result == "success"){
                                    console.info("removed");
                                }
                                loadGearData();
                            }
                        })
                    }

                }) // gear-list-ul



                var modalGearUL = $(".modal-gear-img ul");

                var modalGearDataUl = $(".modal-gear-data ul");

                $(".gear-data-boxes").on("click", ".gear-modify-btn", function (){

                    var gno = $(this).data("gno");

                    $.getJSON('/gear/myGear/' + gno, function (dto){

                        var name = dto.gname;
                        var brand = dto.brand;
                        var size = dto.size;
                        var material = dto.material;
                        var script = dto.script;
                        var sort = dto.sort;

                        var str = "";
                        var str2 = "";

                        $("#gear-modal-name").val(name);
                        $("#gear-modal-brand").val(brand);
                        $("#gear-modal-size").val(size);
                        $("#gear-modal-material").val(material);
                        $("#gear-modal-script").val(script);
                        $("#gear-modal-sort").val(sort);
                        $("#gear-modal-gno").val(gno);

                        $.each(dto.gearImageDTOList, function (i, imgs){

                            if (imgs !== null ){

                                str += '<li data-path="'+imgs.folderPath+'" data-uuid="'+imgs.uuid+'" data-name="'+imgs.fileName+'" data-url="'+imgs.imageURL+'" data-tell="old">';
                                str += '<img src="/display?files='+imgs.thumbnailURL+'" data-name="'+imgs.imageURL+'" data-tell="old">';
                                str += '</li>';
                                str2 += '<li data-path="'+imgs.folderPath+'" data-uuid="'+imgs.uuid+'" data-name="'+imgs.fileName+'" data-url="'+imgs.imageURL+'" data-tell="old"></li>';
                                console.info("adding liList for images");

                            }else {
                                console.info("there are no pictures");
                            }
                        }); // each for dto.gearImageDTOList

                        modalGearUL.html(str);
                        modalGearDataUl.html(str2);

                    }); // getJSON

                    $(".gear-modal").modal('show');

                });  // gear modify modal open btn clicking event


                $("input[name='modalFiles']").change(function (){

                    var formData = new FormData;

                    var inputFiles = $(this);
                    var files = inputFiles[0].files;

                    for (var i = 0; i < files.length; i++){
                        console.log(files[i]);
                        formData.append("uploadFiles", files[i]);
                    }

                    $.ajax({
                        url: '/uploadAjax',
                        data: formData,
                        processData: false,
                        contentType: false,
                        type: 'POST',
                        dataType: 'JSON',
                        success: function (result){
                            console.log(result);
                            uploadImageOnModal(result);
                        }
                    })
                }); // inputFile changing event

                function uploadImageOnModal(result){

                    var str = "";
                    var str2 = "";

                    $(result).each(function (i, dto){

                        console.info(dto);

                        str += '<li data-path="'+dto.folderPath+'" data-uuid="'+dto.uuid+'" data-name="'+dto.fileName+'" data-url="'+dto.imageURL+'" data-tell="new">';
                        str += '<img src="/display?files='+dto.thumbnailURL+'" data-name="'+dto.imageURL+'" data-tell="new">';
                        str += '</li>';
                        str2 += '<li data-path="'+dto.folderPath+'" data-uuid="'+dto.uuid+'" data-name="'+dto.fileName+'" data-url="'+dto.imageURL+'" data-tell="new"></li>';

                    });

                    modalGearUL.append(str);
                    modalGearDataUl.append(str2);

                } // uploadImageOnModal

                $(".gear-modal-modify").on("click", function (){

                    var gno = $("#gear-modal-gno").val();

                    console.info(gno);

                    var list = [];

                    $(".modal-gear-img li").each(function (i, arr){

                        var folderPath = $(this).data("path");
                        var uuid = $(this).data("uuid");
                        var fileName = $(this).data("name");
                        var fileList = {folderPath, uuid, fileName};

                        list.push(fileList);
                    });

                    console.info(list);

                    var gearModifyData = {
                        gno: gno,
                        gname: $("#gear-modal-name").val(),
                        brand: $("#gear-modal-brand").val(),
                        size: $("#gear-modal-size").val(),
                        material: $("#gear-modal-material").val(),
                        script: $("#gear-modal-script").val(),
                        sort: $("#gear-modal-sort").val(),
                        email: email,
                        gearImageDTOList: list
                    }

                    console.info(gearModifyData);

                    $.ajax({
                        url: '/gear/' + gno,
                        data: JSON.stringify(gearModifyData),
                        method: 'PUT',
                        contentType: 'application/json; charset=utf-8',
                        dataType: 'text',
                        success: function (result){
                            if (result === "success"){
                                console.info(result);
                                alert("기어 정보 수정 완료");
                                loadGearData();
                                $(".gear-modal").modal('hide');
                                self.location.reload();
                            }

                        }
                    }) // ajax

                }); //gear modify btn clicking event


                $(".modal-gear-img").on("click", "li img", function (){

                    console.info("clicking");
                    var targetLi = $(this).closest("li");
                    var targetName = $(this).data("name");
                    var telling = $(this).data("tell");
                    console.info(targetName);
                    console.info(telling);

                    if (telling == "old"){
                        targetLi.remove();
                    }if(telling == "new"){

                        targetLi.remove();

                       $.ajax({
                           url:'/removeFile',
                           data: {files: targetName},
                           dataType: 'text',
                           type: 'DELETE',
                           success: function (result){
                               console.info(result);
                           }
                       })
                    }
                }); // modal image clicking for remove event



                $(".gear-modal-close").click(function (){
                    $(".gear-modal").modal('hide');
                })

                $(".gear-image-close-btn").click(function (){
                    $(".gear-modal").modal('hide');
                });

                $(".gear-data-boxes").on("click", ".gear-market-btn", function (){

                    window.location.href = '/board/register?category="중고거래"';

                });


            });  // the end


        </script>

    </th:block>
</th:block>

</body>
</html>