<!DOCTYPE html>
<html xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<script type="text/javascript" src="https://oapi.map.naver.com/openapi/v3/maps.js?ncpClientId=hmecoefot7"></script>


<body>
<th:block th:replace="~{/layout/basic :: setContent(~{this :: content} )}">
    <th:block th:fragment="content">

        <div class="container">

            <h1>For Member...............</h1>

            <div sec:authorize="hasRole('USER')">Has USER ROLE</div>
            <div sec:authorize="hasRole('MANAGER')">Has MANAGER ROLE</div>
            <div sec:authorize="hasRole('ADMIN')">Has ADMIN ROLE</div>
            <h5>--------------------------------------------------------</h5>
            <div sec:authorize="isAuthenticated()">
                Only Authenticated user can see this Text
            </div>
            <h5>--------------------------------------------------------</h5>
            Authenticated username:
            <div sec:authentication="name"></div>
            Authenticated user roles:
            <div sec:authentication="principal.authorities"></div>

            <div>
                <div id="map" style="width:100%;height:400px;"></div>

                <script>
                    var mapOptions = {
                        center: new naver.maps.LatLng(37.3595704, 127.105399),
                        zoom: 10,
                        zoomControl: true
                    }

                    var map = new naver.maps.Map('map', {
                        center: new naver.maps.LatLng(37.3595704, 127.105399),
                        zoom: 10
                    });
                </script>

            </div>

        </div>

    </th:block>
</th:block>
</body>
</html>